.center{
    padding-top: 2.5%;
    text-align: center;
}

.component {
    height: 250px;
    background-color: #f5f5f5;
    border-radius: 10px
}

.heading {
    margin-top: -20px;
    color: #0d2c40;
}

.button {
    background-color: #0d2c40;
    color: #02d35f;
    margin-top: 30px;
}